a.black{
    color: black;
}

p.question{
    font-size: 20px;
}

canvas{
    margin-bottom: 50px;
}
.list{
    font-size: large;
    color: black;
}

textarea.movil{
    width: 50%;
    height: 125px;
}

input.radio{
    
    width: 16px;
    height: 16px;
}

.caja{ 
    cursor:pointer; 
}

.caja a{ 
    display:block;
}

@media screen and (max-width:414px){

    textarea.movil{
        width: 95%;
        height: 115px;
    }

}
